body {
  margin: 20px;
  background-color: #000;
}

.blue-block {
  box-sizing: border-box;
  background-color: #308dc0;
  width: 350px;
  margin-bottom: 40px;
  padding: 10px;
}

.orange-block {
  background-color: #ffa401;
}

.white-block {
  background-color: #ddd;
  padding: 10px;
  margin: 10px;
}

.border {
  border: 1px solid #dc5858;
}
